<ion-app>
  <ion-content>
    <ion-grid class="pocn-logo-top">
      <ion-row class="">
        <ion-col size="12" class="">
          <a href="/register"><img src="assets/images/logo-pocn.svg"></a>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="reset-pass mt-16 ion-padding-horizontal">
      <ion-row class="">
        <ion-col size="12" class="">
          <ion-text>Your password has been reset.</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="ion-padding-horizontal">
      <ion-row class="">
        <ion-col size="12" class="">
          <ion-button  routerLink="/register" class="action-button blue-bg-button width-100p mt-16" fill="clear" type="submit">
            <span>Login</span>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>