.contact-edit-popover {
    width: 100%;
  }
  .edit-delete-header button{
    background: none;
    float: right;
    position: absolute;
    right: 10px;
  }
  .edit-delete-header h2{
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: #000000;
    margin-bottom: 2px;
  }
  .admin-approve{
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #00A9E0;
    text-transform: capitalize;
  }