.lookupmodal-close{
    background: none;
  }
  .lookupmodal-close img {
    width: 20px;
    position: relative;
    top: -4px;
  }
  .modal-close {
      float: right;
  }
  .blue-bg-button{
    background: #00A9E0;
    border-radius: 4px;
    height: 36px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
  }
  h2.lookup-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: #000000;
    text-align: center;
    padding: 0 24px;
    }