<ion-app>
  <ion-content class="reset-pass">
   <ion-col size="12" class="login-error-panel" *ngIf="showFailedUpdateMsg">
      <div class="error-panel-icon"><img src="assets/images/alert-onred.svg"></div>
      <p class="error-panel-text">{{errorMessage}}</p>
   </ion-col>

   <ion-grid class="login-error-panel" *ngIf="!passwordsMatching" >
      <ion-row class="">
        <ion-col size="12" class="">
          <div class="error-panel-icon"><img src="assets/images/alert-onred.svg"></div>
          <p class="error-panel-text">Your "new password” and “confirm password” fields must match. Please check your entries and try again.</p>
        </ion-col>
      </ion-row>
    </ion-grid>
     <ion-grid class="password-reset ion-padding">
        <ion-row>
           <ion-col size="12" class="myprofile-header settings-header-row ion-padding-vertical align-center">
              <a href="/register"><img src="assets/images/logo-pocn.svg"></a>
           </ion-col>
           <!--<ion-row class="ion-no-padding-vertical reset-action-msg" *ngIf="showInvalidTokenMesg">
              <ion-col size="12" class="">
                  <img src="assets/images/accept-request.svg" class="mr-8">
                  <ion-text>The token URL you have given is either expired or invalid.</ion-text>
              </ion-col>
              </ion-row>-->
           <ion-col size="12" class="reset-pass mt-16 ion-padding-horizontal" *ngIf="showInvalidTokenMesg">
              <ion-text>The token URL you have given is either expired or invalid.</ion-text>
           </ion-col>
           
           <ion-col size="12" class="reset-pass ion-no-padding align-left" *ngIf="!showInvalidTokenMesg">
              <ion-text>Update your password</ion-text>
           </ion-col>
           <form class="width-100p" name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate *ngIf="!showInvalidTokenMesg">
           <ion-col class="password-sec width-100p mt-24 ion-padding-horizontal width-100p">
              <ion-item  lines="none" [ngClass]="{ 'validation-error': f.submitted && password.invalid}" size="12" class="align-left ion-no-padding ionitem-padding-remove width-100p">
                 <ion-label class="input-label" position="stacked">
                    <span class="required-star"><img src="assets/images/required.svg"></span>
                    <span class="alert-icon"><img src="assets/images/error-input-field.svg"></span>New Password
                 </ion-label>
                 <ion-input [clearInput]="true" [type]="regPasswordType" name="password" class="custom-input"
                 [(ngModel)]="person.password" #password="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required
                 pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@$!%*?&])([a-zA-Z0-9@$!%*?&]{8,})$"
                 (keyup)="showValue()"></ion-input>
                 <ion-icon *ngIf="person.password!=''" item-end [name]="regPasswordIcon" class="regPasswordIcon" (click)='hideShowRegisterPassword()'></ion-icon>
                 <div *ngIf="f.submitted && password.invalid" [hidden]="showErrorMsg">
                 <div *ngIf="password.errors?.required" class="error-msg"></div>
                 <div *ngIf="password.errors.pattern" class="error-msg password-conditions">
                    Your password must meet the requirements below. Please try again. <br>
                 </div>
                 </div>
              </ion-item >
              <ion-item lines="none" class="ion-no-padding passwordhint-sec mb-16">
                 <ion-text class="pass-hint" position="stacked">
                    * At least 8 characters<br>
                    * At least 1 number<br>
                    * At least 1 lowercase letter<br>
                    * At least 1 uppercase letter<br>
                    * At least 1 special character<br>
                 </ion-text>
              </ion-item>
           
           
              <ion-item lines="none"  [ngClass]="{ 'validation-error': f.submitted && confirmPassword.invalid}" size="12" class="align-left ion-no-padding ionitem-padding-remove width-100p">
                 <ion-label class="input-label" position="stacked">
                    <span class="required-star"><img src="assets/images/required.svg"></span>
                    <span class="alert-icon"><img src="assets/images/error-input-field.svg"></span>Confirm Password
                 </ion-label>
                 <ion-input class="custom-input" [clearInput]="true" [type]="confirmPasswordType" name="confirm_password"
                 [(ngModel)]="person.confirmPassword" #confirmPassword="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && confirmPassword.invalid }" required
                 pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@$!%*?&])([a-zA-Z0-9@$!%*?&]{8,})$"
                 (keyup)="showValue()"></ion-input>
                 <ion-icon *ngIf="person.confirmPassword!=''" item-end [name]="confirmPasswordIcon" class="confirmPasswordIcon" (click)='hideShowConfirmPassword()'></ion-icon>
                 <div *ngIf="f.submitted && confirmPassword.invalid" [hidden]="showErrorMsg">
                 <div *ngIf="confirmPassword.errors?.required" class="error-msg"></div>
                 </div>
                 <!--<div [hidden]="confirmPassword.errors?.required || showPattern" class="error-msg">
                    Your "new password” and “confirm password” fields must match. Please check your entries and try again.
                 </div>-->
              </ion-item >
              <ion-item lines="none" class="ion-no-padding ionitem-padding-remove">
                <ion-button (click)="resetPassword(f)" class="action-button blue-bg-button change-pass-btn mt-16" fill="clear" type="submit">
                  <span>Change my password</span>
                  <span *ngIf="setLoader" class="loader-npi"><img class="button-loader" src="/assets/images-pocn/loader.gif"></span>
                </ion-button>
              </ion-item>

              <ion-item lines="none" class="ion-no-padding login-button-sec ionitem-padding-remove">
                <ion-button class="action-button mt-16 left-arrow-btn" fill="clear" routerLink="/register" type="submit">
                   <span class="mr-8"><img src="assets/images/left-arrow.svg" class="left-arrow"></span>
                   <span>Back</span>
                </ion-button>
             </ion-item>

           </ion-col>
           </form>

           <ion-col class="ion-padding-horizontal">
              
           </ion-col>
        </ion-row>
     </ion-grid>
  </ion-content>
</ion-app>