<ion-content [fullscreen]="true"> 
  
    <ion-grid class="ion-padding-horizontal welcome-banner-bg">
      <ion-row class="ion-padding-vertical">
        <ion-col size="12" class="ion-padding-vertical">
          <img src="assets/images/splash.png">
        </ion-col>
        <ion-col size="12" class="mt-8">
          <h1 class="title ion-no-padding ion-no-margin learn-title">Learn, earn, care, and connect with</h1>
        </ion-col>
        <ion-col size="12" class="ion-text-center">
          <img src="assets/images/logo-pocn.svg">
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>

  