 ion-grid, ion-col{
  padding: 0;
 }
 img.previous-icon {
  width: 30px;
}
.settings-header-row{
  padding-left: 8px;
  padding-right: 8px;
}
.logout-btn{
  margin: 0;
}
img.header-logo {
  height: 30px;
}