
<ion-app>
  <ion-content>
   <ion-grid class="login-error-panel" *ngIf="showFailedMsg" >
      <ion-row class="">
        <ion-col size="12" class="">
          <div class="error-panel-icon"><img src="assets/images/alert-onred.svg"></div>
          <p class="error-panel-text">The email you entered is not a valid POCN login. Please confirm and try again.</p>
        </ion-col>
      </ion-row>
    </ion-grid>
     <ion-grid class="forgot-pass-grid ion-padding-horizontal">
        <ion-row>
           <ion-col size="12" class="align-center myprofile-header settings-header-row ion-no-padding mb-24">
              <a href="/register"><img src="assets/images/logo-pocn.svg"></a>
           </ion-col>
           <ion-col>
            <ion-item lines="none" class="ion-no-padding ionitem-padding-remove reset-pass mt-8" *ngIf="showProgressBar">
               <ion-text>An email is being sent to your inbox...
               </ion-text>
            </ion-item>
           </ion-col>
           <ion-col *ngIf="!showSucessMsg" size="12" class="ion-no-padding">
              <ion-item lines="none" class="ion-no-padding ionitem-padding-remove reset-pass mt-8">
                 <ion-text>For a link to reset your password, enter your POCN account email.</ion-text>
              </ion-item>
              <ion-item class="registration-form mt-16" lines="none" class="ion-no-padding ionitem-padding-remove registration-form mt-16">
                 <form class="width-100p" name="form" (ngSubmit)="fEmail.form.valid" #fEmail="ngForm" novalidate>
                 <ion-item lines="none" class="ion-no-padding ionitem-padding-remove" [ngClass]="{ 'validation-error': fEmail.submitted && !emailType?.valid || !showEmailError }">
                    <ion-label class="input-label" position="stacked">
                       
                       <span class="alert-icon"><img src="assets/images/error-input-field.svg"></span>
                       Email <span class="required-star"><img src="assets/images/required.svg"></span>
                    </ion-label>
                    <ion-input #emailType="ngModel" [ngClass]="{ 'is-invalid': fEmail.submitted && emailInput.username}" required [ngModel]="emailInput.username" name="username"  class="custom-input" [clearInput]="true" type="text" required></ion-input>
                    <div *ngIf="fEmail.submitted && !emailType?.valid">
                       <div *ngIf="emailType.errors?.required" class="error-msg"></div>
                    </div>
                    <div [hidden]="showEmailError || emailType.errors?.required" class="error-msg">Please check the format of your email and try again.</div>
                    <!--<span  *ngIf="showFailedMsg" class="error-msg">The email you entered is not a valid POCN login. Please confirm and try again.</span>-->
                 </ion-item>
                 <ion-item lines="none" class="ion-no-padding login-button-sec ionitem-padding-remove">
                    <ion-button class="action-button blue-bg-button width-100p mt-16" fill="clear" (click)="forgotPassword(fEmail)" type="submit">
                       <span>Reset Password</span>
                       <span *ngIf="setLoader" class="loader-npi"><img class="button-loader" src="/assets/images-pocn/loader.gif"></span>
                    </ion-button>
                 </ion-item>
                 <ion-item lines="none" class="ion-no-padding login-button-sec ionitem-padding-remove">
                    <ion-button class="action-button mt-16 left-arrow-btn" fill="clear" routerLink="/register" type="submit">
                       <span class="mr-8"><img src="assets/images/left-arrow.svg" class="left-arrow"></span>
                       <span>Back</span>
                    </ion-button>
                 </ion-item>
                 </form>
              </ion-item>
           </ion-col>
           <!-- Password reseet emails -->
           <ion-col size="12" class="ion-no-padding reset-pass mt-8" *ngIf="showFinalMsg">
              <ion-text>An email has been sent to reset your password. Check your inbox in a few minutes.</ion-text>
              <ion-text class="spam-warning" >
                 If you do not receive an email to change your password, please check your Spam or Junk folders. If the email is in the Spam or Junk folders, select the message and click “Not Spam/Junk,” which will allow all future messages from POCN to go directly to your inbox.
              </ion-text>
           </ion-col>
        </ion-row>
     </ion-grid>
  </ion-content>
  <ion-footer class="width-100p progressbar" *ngIf="showProgressBar" >
   <div class="meter animate">
       <span style="width: 100%"><span></span></span>
   </div>
   <p>Sending Email</p>
   </ion-footer>
</ion-app>