<ion-list class="edit-delete-popover">
  <ion-item (click)="showEditContactForm()" lines="none" class="edit ion-no-padding">
    <ion-label><img src="assets/images/edit-popover.svg" class="editpopover-icon" /> Edit</ion-label>
  </ion-item>
  <ion-item (click)="deleteRecord()" lines="none" class=" delete ion-no-padding">
    <ion-label><img src="assets/images/delete-popover.svg" class="deletepopover-icon" /> Delete</ion-label>
  </ion-item>
  <!-- <ion-item>
    <ion-label>Share</ion-label>
  </ion-item> -->
</ion-list>