<ion-content class="signup-success">
  <ion-grid class="pocn-logo-top">
    <ion-row class="">
      <ion-col size="12" class="">
        <a href="/register"><img src="assets/images/logo-pocn.svg"></a>
      </ion-col>
    </ion-row>
    <ion-row class="welcome-banner-bg">
      <ion-col size="12" class="ion-padding-vertical">
        <img src="assets/images/email-confirmation.svg">
      </ion-col>
    </ion-row>
    <ion-row class="confirmation-text">
      <ion-col size="12" class="">
        <ion-text>
          Welcome to POCN! 

        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="confirmation-description">
      <ion-col size="12" class="ion-padding-vertical">
        <ion-text>
            We’ve sent a verification email <br> to the address you provided. <br>
            Click on the “verify” link in the email to log in.       
        </ion-text>
      </ion-col>
    </ion-row>
    <!--<ion-row class="back-button">
      <ion-col size="6" class="ion-padding-vertical">
        <ion-button class="blue-border-button" fill="clear">
          <span><img src="assets/images/arrow-left.svg"></span>
          <span>Back</span>
        </ion-button>
      </ion-col>
    </ion-row>-->
  </ion-grid>
</ion-content>
