<ion-header>
  <ion-row class="contact-form-row contact-form-titlesection edit-delete-header">
    <ion-col>
      <h2 class="cancel-title">Connection Disconnect
        <button class="close" (click)="close()" fill="clear"><img src="assets/images/close.svg"></button>
      </h2>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="mt-8">
      <ion-col text-center class="feed-image-seclect ion-padding-horizontal cancel-data">
        <!-- Model : {{ name }} -->Do you want to disconnect this connection?  
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-row class="ion-no-padding">
    <ion-col text-center class="feed-modal-buttons cancel-done-btns ion-padding-horizontal" size="6">
      <ion-button (click)="close()" fill="clear" class="feed-cancel blue-border-button width-100p">Cancel</ion-button>
    </ion-col>
    <ion-col text-center class="feed-modal-buttons cancel-done-btns ion-padding-horizontal" size="6">
      <ion-button fill="clear" (click)="submitCancelConnection()" class="feed-done red-bg-button width-100p" [disabled]="hideButton">Done</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>


