<ion-tabs class="bottom-maintab">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="connection">
      <div class="tab-container">
        <span class="tab-icon network"></span>
        <span>Network</span>
     </div>
    </ion-tab-button>

    <ion-tab-button tab="post">
      <div class="tab-container">
        <span class="tab-icon stream"></span>
          <span>Feed</span>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="groups">
      <div class="tab-container">
        <span class="tab-icon groups"></span>
          <span>Groups</span>
       </div>
    </ion-tab-button>

    <ion-tab-button tab="my-profile">
      <div class="tab-container">
        <span class="tab-icon profile"></span>
          <span>Profile</span>
       </div>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>