<ion-app>
  <ion-content>
    <ion-grid class="pocn-logo-top">
      <ion-row class="">
        <ion-col size="12" class="">
          <a href="/register"><img src="assets/images/logo-pocn.svg"></a>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="reset-pass mt-16 ion-padding-horizontal">
      <ion-row class="">
        <ion-col size="12" class="">
          <ion-text>If you have any queries please reach out to us at support@pocn.com</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="ion-padding-horizontal">
      <ion-item lines="none" class="ion-no-padding login-button-sec ionitem-padding-remove">
        <ion-button class="action-button mt-16 left-arrow-btn" fill="clear" routerLink="/settings" type="submit">
          <span class="mr-8"><img src="assets/images/left-arrow.svg" class="left-arrow"></span>
          <span>Back</span>
        </ion-button>
      </ion-item>
    </ion-grid>
  </ion-content>
</ion-app>