<ion-content class="call-engaged workhistory-slide contact-edit-popover">
    <ion-header class="edit-delete-header">

        <h2>Patient Connect <button class="close" (click)="close()" fill="clear">
      <img src="assets/images/close.svg">
    </button>
        </h2>
    </ion-header>

    
    <ion-item class="item-background-color ionitem-padding-remove ion-no-padding mt-24 next-bottom-button" lines="none">
        <ion-col class="align-center">
            <ion-text class="admin-approve">This phone number already exists. Please enter another number.</ion-text>
        </ion-col>
    </ion-item>

</ion-content>
