<ion-content class="call-engaged workhistory-slide">
    <ion-header class="edit-delete-header">
        <h2>
            <button fill="clear" class="previous-btn" disabled="true"><img src="assets/images/arrow-left.svg"></button> Invite Message <button class="close" (click)="close()" fill="clear">
      <img src="assets/images/close.svg">
    </button>
        </h2>
    </ion-header>
    <ion-grid class="video-room-code mt-24 ion-padding">
        <ion-row class="">
            <ion-col size="12" class="ion-no-padding">
                <ion-text>
                    <p class="baa-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac odio vel ligula venenatis placerat. <br><br> Maecenas egestas odio eget augue sollicitudin dignissim. Phasellus metus augue, ullamcorper ut neque at, gravida euismod
                        metus. <br><br> Integer sed ligula sed nunc condimentum feugiat non scelerisque purus.
                    </p>
                </ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
