ion-col {
    padding: 0;
}
ion-grid {
    padding-top: 0;
    padding-bottom: 0;
}
img.audiocall {
    width: 28px !important;
}
.myprofile-header-row {
    padding: 24px 0 10px 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 9;
    background: #fcfcfc !important;
}

.user-top-details {
    padding-top: 85px;
}

.user-img {
    border: 3px solid #FFFFFF;
    filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.2));
    border-radius: 50%;
    width: 184px;
    height: 184px;
    object-fit: cover;
}

.myprofile-user-image {
    text-align: center;
}
.user-image-edit {
    background: #00A9E0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    text-align: center;
    padding-top: 6px;
    position: absolute;
    right: 0;
    bottom: 0;
}
ion-grid.myprofile-header {
    padding-right: 8px;
    padding-left: 8px;
}
.profile-image {
    width: 184px;
    height: 184px;
    margin: auto;
    position: relative;
}

.myprofile-user-image h2,
.badges-tab-content h2 {
    font-weight: 500;
    font-size: 18px !important;
    line-height: 110%;
    text-align: center;
    color: #323232 !important;
    margin-bottom: 0;
    margin-top: 24px;
    padding-top: 3px;
}

.badges-tab-content h2 {
    text-align: left !important;
}

.myprofile-user-image h3 {
    font-weight: 500;
    font-size: 13px;
    line-height: 110%;
    text-align: center;
    color: #616161;
    margin-top: 8px;
    margin-bottom: 10px;
}

.myprofile-innertab ion-segment-button {
    margin-top: 10px;
    min-width: 75px;
    width: auto;
    margin-left: 2px;
    margin-right: 2px;
}
button.socialmedia-add span {
    line-height: 10px !important;
}

.exp-tab {
    min-width: 87px !important;
}

.eng-tab {
    min-width: 100px !important;
}

.about-tab-content h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.03em;
    //text-transform: uppercase;
    color: #323232;
    margin-top: 24px;
    margin-bottom: 20px;
}

.about-tab-content ion-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    color: #00A9E0;
    margin-bottom: 10px;
    display: inline-block;
}

.span-left {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #616161;
    display: inline-block;
    width: 38%;
}

.contact-cont {
    margin-bottom: 20px;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 12px;
    position: relative;
    --background: transparent !important;
    --background-activated: transparent !important;
    --background-focused: transparent !important;
    --ripple-color: transparent !important;
    --background-hover: transparent !important;
    background: transparent !important;
    --background-activated-opacity: 0 !important;
    --background-focused-opacity: 0 !important;
    --background-hover-opacity: 0 !important;
}

.contact-list ion-label {
    padding-left: 0;
    margin-bottom: 0 !important;
    margin-right: 0;
    width: 100%;
    max-width: 100%;
}
.profile-add-button {
    background: none;
    float: right;
    position: relative;
    top: -5px;
    padding: 0;
}
.profile-add-button img {
    width: 24px;
}
.span-right {
    font-weight: 500;
    font-size: 18px !important;
    line-height: 110%;
    color: #00A9E0 !important;
    width: 62%;
    display: inline-block;
}

.contact-list ion-label ion-input {
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.contact-list ion-item {
    --min-height: 30px;
}
ion-col.socialmedia-details.contact-list ion-item {
    --min-height: 42px !important;
}

.social-email-sec {
    padding-bottom: 15px;
}

.contact-edit-field {
    position: relative;
    width: 62%;
    display: inline-block;
}

ion-col.socialmedia-details ion-button {
    margin: 0;
    text-align: right !important;
    position: relative;
    right: -10px;
}

.more-dots {
    width: 18px;
    position: relative;
    right: 0;
}
button.socialmedia-add {
    background: none;
}
button.socialmedia-add span {
    width: auto !important;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #00A9E0 !important;
}
img.social-add {
    width: 25px;
    position: relative;
    top: 0;
    margin-left: 8px;
    right: 1px;
}
.about-me p{
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #00A9E0;
    margin: 0;
}

.tagline-data p {
    overflow-y: hidden;
    text-overflow: ellipsis;
    max-height: 200px;
    white-space: normal;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: 100%;
    min-height: 42px;
}

.social-save {
    width: 29px;
}
.resume-icon {
    width: 24px;
}
.internet-icon {
    width: 10%;
    display: inline-block;
}

.internet-middle-cnt {
    width: 75%;
    display: inline-block;
}

.internet-right-btns {
    width: 15%;
    display: inline-block;
    text-align: right;
}

.internet-right-btns .experience-more {
    float: none !important;
    background: none;
}

.internet-right-btns .socialmedia-add {
    top: 0 !important;
}

.socialmedia-cnt {
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(224 224 224);
}

.social-icon {
    margin-right: 12px;
    max-width: 24px;
    width: 24px;
    position: relative;
    top: 5px;
}

.socialmedia-add {
    margin-top: 0;
    margin-right: -7px;
    position: relative;
    top: 0;
    float: right;
}

.socialmedia-details ion-label,
.internet-label p {
    font-weight: 500;
    font-size: 18px !important;
    line-height: 110%;
    color: #00A9E0 !important;
    font-family: "Nunito", sans-serif !important;
    position: relative;
    top: 5px;
}

.internet-label p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.experience-icon img {
    // border: 2px solid #FFFFFF;
    // filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));
    // border-radius: 50%;
}

.experience-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    color: #323232;
}

.experience-title ion-label {
    padding-top: 5px;
}

.experience-description {
    font-weight: 300;
    font-size: 16px;
    line-height: 110%;
    color: #616161;
    margin: 5px 0;
}

.experience-more {
    float: right;
    position: relative;
    margin: 0;
}
.experience-more img {
    width: 25px;
}
ion-popover.menu {
    width: 340px;
    max-width: 100%;
    height: 250px;
    border-radius: 50px;
}

.post-comment-section {
    text-align: right;
}
.post-comment-section img {
    width: 18px;
    margin-left: 20px;
}
span.likes-count {
    font-weight: 500;
    font-size: 13px;
    line-height: 110%;
    color: #00A9E0;
    position: relative;
    top: -5px;
    margin-left: 5px;
}

.post-date {
    font-weight: 500;
    font-size: 13px;
    line-height: 110%;
    color: #616161;
}

.patient-connect-popover ion-card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 31px;
    letter-spacing: -0.01em;
}

.close {
    float: right;
    margin-top: 0;
    background: none;
    position: relative;
    top: 5px;
}

.back-btn {
    float: left;
    margin-top: 0;
}
.patient-connect-card ion-card-header ion-button img {
    width: 18px;
    position: relative;
    top: -5px;
}

.steps-main {
    width: 100%;
    margin-right: 0 !important;
}

.steps-count span {
    font-weight: 500;
    font-size: 18px;
    line-height: 110%;
    color: #323232;
}

.steps-count p {
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    color: #616161;
    margin: 0;
}

.process-flow {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #323232;
}

.steps {
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 9px;
    width: 100%;
    padding: 16px;
}

.steps-count ion-item {
    margin-bottom: 10px;
}

.patient-connect-card button {}

.back-btn {
    float: left;
    background: none;
}
.back-btn img {
    width: 18px;
    top: 5px;
    position: relative;
}

.close img {
    width: 18px;
}

.signature-pad {
    border: 2px solid #00A9E0;
    border-radius: 4px;
    height: 100px;
}

.baa-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #000000;
    text-align: left;
}

.baa-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;
    text-align: left;
    margin-bottom: 0;
    margin-top: 0;
}

.signature ion-label {
    text-align: left;
    color: rgb(84, 84, 84);
    font-size: 14px;
}

.signature ion-text {
    text-align: left;
    color: rgb(84, 84, 84);
    font-size: 11px;
}
.signature {
    text-align: left;
}
.next-button {
    margin-bottom: 20px;
}
span.next-btn-text {
    position: relative;
    top: -5px;
    margin-right: 5px;
}

.steps-main ion-input,
.steps-main ion-select {
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #253293;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 110%;
    color: #323232;
    padding: 0 10px !important;
}

.input-label {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #253293;
}

.faq {
    font-weight: 500;
    font-size: 13px;
    color: #00A9E0;
    width: 100%;
    text-align: left;
}

.thankyou {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #323232;
    display: block;
}

.send-verification {
    position: relative;
    top: 7px;
}
.email-verification-success {
    padding: 0 20px;
}
img.header-logo {
    height: 30px;
}

.subtab-logo {
    width: 12%;
    float: left;
}

.subtab-content {
    width: 80%;
    float: left;
    padding: 0px 15px;
}

.subtab-more {
    width: 8%;
    float: left;
}

.subtab-content h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    color: #323232;
    margin-top: 0;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.about-content-main {
    margin-top: 10px;
    display: inline-block;
    width: 100%;
}
.subtab-logo img {
    max-width: 42px;
}
.subtab-more button {
    background: none;
    padding: 0;
}
.post-label{
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
}
.audio-video-call img {
    margin-left: 8px;
    width: 30px;
    margin-right: 8px;
}
img.user-img-small {
    border: 3px solid rgb(255 255 255);
    filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.2));
    border-radius: 50%;
    width: 32px;
    height: 32px;
}
.user-details-smallsize ion-label {
    position: relative;
    top: -10px;
    margin-left: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    color: #323232;
}

.user-details-smallsize ion-label span {
    font-weight: 500;
    font-size: 13px;
    line-height: 110%;
    color: #616161;
}
.reset-icon button.input-clear-icon {
    --background: url(/assets/images/send-email.svg) 0 0/100% 100% no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 99999;
}

.profile-subtab-content {
    padding: 0 11px;
}

.add-address {
    margin-top: -10px;
    margin-right: 0px;
    padding-right: 0;
    padding-top: 0;
    background: none;
}

.social-edit-field {
    position: relative;
    width: 100%;
}

.social-save {
    position: absolute;
    z-index: 99;
    right: 0px;
    top: 6px;
}

.contact-edit-field ion-input {
    width: 83%;
}

span.contact-edit-field ion-input {
    width: 100% !important;
    margin-bottom: 0;
    padding-right: 15px !important;
    text-overflow: ellipsis;
}

span.contact-edit-field {
    width: 62% !important;
}

.social-edit-field ion-input,
.contact-edit-field ion-input {
    padding-right: 30px !important;
    text-overflow: ellipsis;
}

.state-selectbox {
    width: 100%;
    max-width: 100% !important;
}

ion-segment {
    display: inline-flex;
    white-space: nowrap;
    font-size: 0;
    overflow: auto;
    padding-left: 10px;
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
        display: none;
    }
    ion-segment-button.segment-button {
        display: inline-block;
        min-width: 100px;
        width: auto;
    }
}

.resume-section {
    margin-top: 35px;
    margin-bottom: 10px;
}

.resume-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #00A9E0;
}

span.resume-icon-left {
    width: 10%;
    float: left;
}

span.resume-name {
    width: 82%;
    float: left;
}

.update-message-success {
    color: rgb(0 128 0);
}

.update-message-error {
    color: rgb(255 0 0);
}

.tagline-textarea,
.tagline-txtarea {
    width: 100%;
    position: relative;
}
.about-me p{
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #00A9E0;
    margin: 0;
}

.tagline-data p {
    overflow-y: hidden;
    text-overflow: ellipsis;
    max-height: 200px;
    white-space: normal;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: 100%;
    min-height: 42px;
}

// .read-more-data p{
//     font-weight: 500;
//     font-size: 13px;
//     line-height: 120%;
//     margin: 0;
//     overflow-y: hidden;
//     text-overflow: ellipsis;
//     max-height: 200px;
//     white-space: normal;
//     display: -webkit-box !important;
//     -webkit-line-clamp: 3;
//     -webkit-box-orient: vertical;
//     color: #616161;
//     word-break: break-word;
// }
.chip-content ion-chip:last-child {
    margin-bottom: 0;
}

.resume-add-button {
    padding: 10px 9px;
    font-weight: 500;
    font-size: 15px;
}

.tagline-textarea {
    position: relative;
    z-index: 1;
    min-height: 82px;
    padding-right: 30px !important;
    resize: none;
}

.tagline-save {
    position: absolute;
    z-index: 9999;
    right: 10px;
    top: 17px;
    width: 29px;
}

.myprofile-innertab {
    position: sticky;
    top: 60px;
    z-index: 9999;
    background: #fcfcfc !important;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .exp-tab[_ngcontent-ibh-c135] {
        min-width: 100px !important;
    }
}

.mynetwork-img {
    border: 2px solid #FFFFFF;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));
    border-radius: 128px;
    width: 32px;
    height: 32px;
    margin-left: 6px;
}
.mynetwork ion-label {
    margin: 0 !important;
    position: relative;
    top: 5px;
    font-weight: 600;
    font-size: 16px !important;
    line-height: 120%;
    color: rgb(50 50 50) !important;
    padding: 0 0 0 10px;
    text-overflow: inherit;
    white-space: pre-line;
    margin-bottom: 16px !important;
}
p.notification-timing {
    font-size: 11px;
    margin: 7px 0 0 0;
    font-weight: 500;
    color: rgb(97 97 97);
}

.mobile-info {
    border-bottom: 0 !important;
    margin-bottom: 0 !important;
    padding-bottom: 0;
}

.mobile-alert-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    color: rgb(88 81 171);
    margin-bottom: 12px;
}

.mobile-alert {
    padding-bottom: 0 !important;
}

.speciality-tag {
    max-width: 115px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}

.credentials {
    font-weight: 500;
    font-size: 13px;
    line-height: 110%;
    text-align: center;
    color: #616161;
    margin-top: 0px;
    margin-bottom: 16px;
}
.settings img {
    width: 30px;
}

.badges-tab-content img {
    border: 0 !important;
    filter: none !important;
    border-radius: 0 !important;
}

.badges-tab-content .subtab-content {
    min-width: 88%;
}
img.pocn-header {
    height: 30px;
}

//post css
.audio-video-call img,
.settings img {
    width: 30px;
}

.pocn-header {
    height: 30px;
}

.myprofile-header-row {
    padding-top: 25px;
}

.audio-video-call {
    padding-right: 11px;
}

.settings {
    padding-left: 11px;
}

ion-grid,
ion-col {
    padding: 0;
    width: 100%;
}

img.previous-icon {
    width: 30px;
}

.settings-header-row {
    padding-left: 16px;
    padding-right: 16px;
}

.logout-btn {
    margin: 0;
}

img.header-logo {
    height: 30px;
}

.more {
    float: right;
}

span.more {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: #00A9E0;
    text-transform: capitalize;
}

img.more-icon {
    width: 15px;
    margin-left: 4px;
    position: relative;
    top: 1px;
}

.search-title h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #323232;
}

.network-searchbar {
    height: 38px;
    --background: rgb(224 224 224);
    background: rgb(224 224 224);
    ;
    border: 0;
    --border-radius: 10px;
    border-radius: 10px;
    padding: 0;
    margin: 0 !important;
    --box-shadow: none;
    box-shadow: none;
}

.mynetwork-img {
    border: 2px solid #FFFFFF;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));
    border-radius: 128px;
    width: 32px;
    height: 32px;
    margin-left: 6px;
    object-fit: cover;
}

.speciality-tag,
.dest-city {
    max-width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}

.mynetwork ion-label {
    margin: 0 !important;
    position: relative;
    top: 5px;
    font-weight: 500;
    font-size: 18px !important;
    line-height: 120%;
    color: rgb(50 50 50) !important;
    padding: 0;
}

.search-datas {
    margin-bottom: 4px;
    width: 100%;
}

.post-user-description ion-text {
    font-weight: 500;
    font-size: 13px;
    line-height: 110%;
    color: #616161;
}

.likepost {
    background-image: url(/assets/images/like.svg);
    width: 30px;
    height: 30px;
    background-size: 25px;
    position: relative;
    background-repeat: no-repeat;
}

.liked-post {
    background-image: url(/assets/images/liked.svg);
    width: 30px;
    height: 30px;
    background-size: 25px;
    position: relative;
    background-repeat: no-repeat;
}

span.like-area .liked-post,
span.like-area .likepost,
span.like-area i {
    display: inline-block;
}

span.like-area i {
    position: relative;
    top: -12px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 110%;
    text-align: center;
    color: #00A9E0;
}

.like-comment span {
    width: 25%;
    float: left;
    text-align: right;
}

span.like-area {
    text-align: center !important;
}

.post-page {
    display: block !important;
}

span.like img,
span.like i {
    display: inline-block;
}

.like i {
    font-weight: 500;
    font-size: 13px;
    line-height: 110%;
    color: #00A9E0;
    font-style: normal;
    position: relative;
    top: -7px;
}

.separator {
    border-bottom: 1px solid #cdcdcd
}

.quote {
    width: 100%;
}

.quote span {
    width: 100%;
    background: #EEEEEE;
    border-radius: 9px;
    padding: 8px;
    margin: 8px 0;
    display: flex;
    align-items: flex-start;
}

.quote ion-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    color: #616161;
}

ion-grid.post-bottom {
    position: fixed;
    bottom: 40px;
    right: -5px !important;
    width: 90px;
    height: 90px;
    z-index: 99;
}

ion-grid.post-search {
    position: fixed;
    bottom: 0px;
    right: 0;
    left: 0;
    padding: 5px 16px 0 16px;
    background: rgb(255 255 255);
}

.accept-request {
    background: #424242;
    padding: 12px 16px;
}

.ingore-request {
    background: #FF8038;
    padding: 12px 16px;
}

.undo {
    float: right;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    position: relative;
    top: 11px;
}

.accept-request ion-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    color: #E0E0E0;
    position: relative;
    top: -5px;
}

.ingore-request ion-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    color: #FFFFFF;
    position: relative;
    top: -5px;
}

.speciality-tag {
    max-width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}

img.media {
    margin: 0 auto;
    // max-height: 200px;
    object-fit: cover;
    width: 100%;
}

video.media {
    width: 100%;
    max-height: 200px;
}

.read-more-data p {
    font-weight: 500;
    font-size: 13px;
    line-height: 120%;
    margin: 0;
    overflow-y: hidden;
    text-overflow: ellipsis;
    max-height: 200px;
    white-space: normal;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: #616161;
    word-break: break-word;
}

.remove-disable {
    filter: grayscale(100%);
}

.emtpyresult {
    padding: 0 16px;
}

.loader-npi {
    width: 100%;
    text-align: center;
    float: left;
}

.posts-image {
    width: 15%;
    display: inline-block;
}
.posts-data{
    width: 85%;
    display: inline-block;
}
.posts-right-data{
    margin-top: 10px;
    display: block;
}
.accept-request{
    background: #424242;
    padding: 12px 16px;
}
.ingore-request{
    background: #FF8038;
    padding: 12px 16px;
}
.accept-request ion-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    color: #E0E0E0;
    position: relative;
    top: -5px;
}
.ingore-request ion-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    color: #FFFFFF;
    position: relative;
    top: -5px;
}
.susccemsg{
    padding-top: 80px;
}
.dismiss-button{
    display: block;
    width: 100px;
  }
  .click-here{
    font-style: italic;
    text-decoration: underline;
    font-size: 17px;
}

//preview link
.preview {
    width: 350px;
    background-color: #bdbdbd;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
}

.preview-text {
    padding: 10px;
}
